* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 3vw;
}

#atf {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #cccccc;
}

nav ul li {
  width: 5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid transparent;
}

nav ul li:hover {
  border-bottom: 5px solid #cccccc;
  cursor: pointer;
}
