/* ====== GENERAL ====== */

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Cantarell', sans-serif;
  color: whitesmoke;
}

/* ====== HEADER ====== */

header {
  position: fixed;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

#logo:hover {
  color: #9dbb88;
}

#logo-icon {
  display: none;
}

#logo-text {
  font-size: 1rem;
}

header nav {
  display: none;
}

/* ====== SECTION: above the fold (atf) ====== */

#atf {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #5b5b5b;
  background-image: url("img/background-photo-mobile-devices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  text-transform: uppercase;
}

#atf-heading {
  font-size: 1.125rem;
  font-weight: 700;
}

#atf-paragraph {
  margin: 25px 0;
  font-size: 0.8rem;
}

#atf-paragraph strong {
  font-weight: 700;
}

#atf-signup {
  padding: 6px 10px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  color: inherit;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
}

#atf-signup:hover {
  background-color: whitesmoke;
  color: rgb(100, 100, 100);
}

/* ====== FOOTER ====== */

footer nav {
  display: flex;
  flex-flow: column nowrap;
}

footer nav a {
  display: flex;
  align-items: center;
  background-color: deepskyblue;
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: inherit;
  text-decoration: none;
}

footer nav a:last-of-type {
  border-bottom: none;
}

footer nav a:hover {
  background-color: royalblue;
}

footer nav a svg {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  margin: 0 .5rem;
}
