html, body, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  background-color: deepskyblue;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
}

li {
  text-align: center;
}

a {
  display: block;
  padding: 20px 0;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

a:hover {
  background-color: royalblue;
}
