main {
  height: 500px;
  border: 1px solid green;
  display: flex;
  /*flex-flow: row wrap;*/
  flex-flow: column wrap;;
  /*align-content: flex-start;*/
  /*align-content: flex-end;*/
  /*align-content: center;*/
  /*align-content: space-around;*/
  /*align-content: space-between;*/
  align-content: stretch;
}

div {
  margin: 1rem;
  background-color: yellow;
  border: 1px solid black;
  /*width: 100px;*/
  height: 100px;
}
